Olá, <strong>{{ student }}</strong>
<p>Bem-vindo(a) ao <strong>Gympoint</strong>!</p>
<p>Segue detalhes da sua matrícula:</p>
<p>
  <strong>Plano:</strong> {{ plan }} <br />
  <strong>Data de Início:</strong> {{ startDate }} <br />
  <strong>Data de Término:</strong> {{ endDate }} <br />
  <strong>Preço Total:</strong> R$ {{ price }}
</p>
