Olá, <strong>{{ student }}</strong>
<p>Sua questão foi respondida pela equipe <strong>Gympoint</strong>!</p>
<p>Segue detalhes:</p>
<hr />
<p>
  <strong>Data:</strong> {{ created_at }}<br />
  <strong>Questão:</strong><br />
  {{ question }}<br /><br />
  <strong>Resposta:</strong><br />
  {{ answer }}
</p>
<hr />
<small>{{ answer_at }}</small>
<br />
